.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: rgb(152, 236, 208);
  height: 70px;
  border-radius: 5px;
}

.search-form input {
  height: 45px;
  width: 280px;
  border-radius: 5px;
  margin-right: 15px;

  text-align: center;
}
.search-form input::placeholder {
  text-align: center;
}
.search-form button {
  height: 40px;
  width: 150px;
  border-radius: 4px;
  background-color: rgb(151, 7, 247);
}

.load-more {
  height: 40px;
  width: 130px;
  border-radius: 4px;

  background-color: rgb(151, 7, 247);

  align-items: center;
  justify-content: center;
  margin: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-card {
  height: 330px;
  margin-right: 15px;
  margin-bottom: 25px;
  border-radius: 8px;
  overflow: hidden;
}

.image-thumb {
  display: flex;
  height: 270px;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-item {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
